InCaptiva-Service.Tests/Connected Services/InCaptivaService/InCaptivaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://incaptiva.azurewebsites.net/InCaptivaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/inCaptiva_Service" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/inCaptiva_Service" minOccurs="0" name="GetTasksResult" nillable="true" type="q1:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/inCaptiva_Service" minOccurs="0" name="GetWorkersResult" nillable="true" type="q2:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/inCaptiva_Service" minOccurs="0" name="GetProjectsResult" nillable="true" type="q3:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkEntries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/inCaptiva_Service" minOccurs="0" name="GetWorkEntriesResult" nillable="true" type="q4:ArrayOfWorkEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewWorkerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWorkEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerID" type="xs:int" />
        <xs:element minOccurs="0" name="taskID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWorkEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewWorkEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBreak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workEntryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBreakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartBreakResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndBreak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workEntryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndBreakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndBreakResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerID" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditWorkerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorkEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entryID" type="xs:int" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="workerID" type="xs:int" />
        <xs:element minOccurs="0" name="taskID" type="xs:int" />
        <xs:element minOccurs="0" name="completed" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorkEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditWorkEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskID" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element minOccurs="0" name="completed" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="completed" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndWorkEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndWorkEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndWorkEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="what" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>